html {
    font-family: sans-serif;
}

body {
    max-width: 410px;
}

.keyboard > div {
    box-sizing: border-box;
    padding: 15px;
    margin: 3px;
    background-color: lightsteelblue;
    border-radius: 5px;
    border: 2px solid gray;
    color: black;
    text-align: center;
    font-weight: bold;
    height: 60px;
}

.keyboard {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    gap: 3px;
}

#screen {
    box-sizing: border-box;
    padding: 15px;
    margin: 3px;
    background-color: lightsteelblue;
    border-style: solid;
    border-radius: 5px;
    height: 50px;
    border: 2px solid gray;
    color: black;
    text-align: right;
    font-weight: bold;
}

#equal {
    font-weight: bolder;
    font-size: larger;
    color: green;
}

#plus {
    font-weight: bolder;
    font-size: larger;
    color: green;
}

.function{
    display: grid;
    grid-template-columns: 205px 205px;
    gap: 5px;
}

.function > div {
    box-sizing: border-box;
    padding: 15px;
    margin: 3px;
    background-color: lightsteelblue;
    border-radius: 5px;
    border: 2px solid gray;
    color: black;
    text-align: center;
    font-weight: bold;
    height: 60px;
}